<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>변경화면</h1>
      </div>
      <div class="panel-body">
        <strong class="center">등록된 이미지</strong>
        <br/>
        <%= image_tag @pin.picture.url{:medium} %>
        <br/>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>


