<div class="row" id="pin_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading pin_image">
        <%= image_tag @pin.picture.url %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @pin.description %>
        </h1>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">
              photo upload by
              <%= @pin.user.email %>
            </p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-heart">
                  <%= @pin.get_upvotes.size %>
                </span>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to "수정", edit_pin_path, class: "btn btn-default" %>
                <%= link_to "삭제", pin_path, method: :delete, data: { confirm: "정말 삭제하시겠습니까?" }, class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>